
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-youtube-squared:before { content: '\e804'; } /* '' */
.icon-gplus-squared:before { content: '\e805'; } /* '' */
.icon-facebook-squared:before { content: '\e806'; } /* '' */
.icon-graduation-cap:before { content: '\e807'; } /* '' */