body{
	background:#e6e6e6;
}
.navigation{
	margin-left: 10%;
}
.divBoard {
	width: 100px;
	height: 100px;
	border: 2px solid #262626;
	border-radius: 5px;
	background: #bfbfbf;
	text-align: center;
}
img{
	margin-top: 15px;
	width: 40px;
	height: 40px;
}
button {
	width: 100px;
	height: 50px;
	border-radius: 20px;
	border: 2px solid #262626;
	font-family: 'Atma', cursive;
	font-size: 20px;
	background: #fff;
}
select {
	float:right;
	height: 50px;
	border-radius: 10px;
	border: 2px solid #262626;
	font-family: 'Atma', cursive;
	font-size: 20px;

}
label {
	margin-right: 40px;
	margin-left : 20px;
	float:right;
	font-family: 'Atma', cursive;
	font-size: 20px;

}
#consol{
	border: 2px solid #262626;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
	background: #bfbfbf;
	width: 800px;
	height:80px;
	padding:10px;
	font-family: 'Atma', cursive;
	font-size: 15px;
	overflow: auto;
}