#outgoing{
	margin-top: 30px;
	padding: 20px;
	margin-left: 100px;
	float: left;
	background: #80bfff;
	border-radius:10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}
#outgoing:hover{
    border-radius: 30px;
    background:  #A8A6ED;
    }


#incoming{
	margin-top: 30px;
	padding: 20px;
	float: right;
	margin-right: 100px;
	background: #80bfff;
	border-radius:10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}

#incoming:hover{
    border-radius: 30px;
    background:  #A8A6ED;
}

#container {
	text-align: center;
	width: 1200px;
}
body{
	background: #e6f2ff;
	font-family: 'Slabo 27px', serif;
}
.accountBalance {
	font-size:30px;
}
.account{
	display: inline;
}
button {
	margin-top: 40px;
	border-radius:5px;
	width: 200px;
	font-family: 'Slabo 27px', serif;
	font-size:20px;
	border: 1px solid #0059b3;
    background-image:linear-gradient(#00CCFF, #006599);
    box-shadow: 0 5px 5px #006599;
    outline: 0;
    transition: all .10s linear;
}
button:active{
    box-shadow: 0 2px 0 #6600CC;
    transform: translateY(3px);
    background-image:linear-gradient(#C9A6ED, #8F66E0);
    border: 1px solid #6600CC;    
}

.log{
	overflow:auto;
	width: 960;
	height: 200px;
	background: #b3d9ff;
	border: 1px solid #0080ff;
	border-radius: 10px;
	margin-top:20px;
	margin-left: 120px;
	position:relative;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.history{
    margin: 20px;
}
img{
	width: 15px;
	height: 15px;
}
.refresh{
	position: absolute;
	left: 10px;
	top: 5px;
}
input{
	border-radius: 5px;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}
input:hover{
    border-radius: 8px;
    background:  #FFEDFF;
    }

textarea{
    width: 200px;
	height: 100px;
    margin-top: 5px;
    border-radius: 5px;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}
textarea:hover{
    border-radius: 10px;
    background:  #FFEDFF;
    }

#buttonHistory {
	margin-top: 20px;
    width: 400px;
	border-radius:5px;
	font-family: 'Slabo 27px', serif;
	font-size:20px;
	border: 1px solid #0059b3;
    background-image:linear-gradient(#00CCFF, #006599);
    box-shadow: 0 5px 5px #006599;
    outline: 0;
    transition: all .10s linear;
}
#buttonHistory:active{
    box-shadow: 0 2px 0 #6600CC;
    transform: translateY(3px);
    background-image:linear-gradient(#C9A6ED, #8F66E0);
    border: 1px solid #6600CC;    
}
