	<link rel= "stylesheet" href= "style.css" type= "text/css" />
	<title> Wspinaczka sportowa w Polsce </title>
	<meta name="description" content="Storna poświęcona wspinaczce sportowej w Polsce. Wszystko co chciałbyś wiedzieć o wspinaczce. Moja przygoda ze wspinaniem sportowym.
	<meta name= "keywords" content= "wspinaczka, skały, wspinaczka skałowa, wspinaczka sportowa, wycena dróg, historia wspinania, wspinanie w Polsce, ścianka wspinaczkowa"/>
	<link href='https://fonts.googleapis.com/css?family=Freckle+Face|Halant:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link  href= "css/fontello.css" rel= "stylesheet" type= "text/css" />


	<span  class="tilelink">Starożytne początki </span><br/>
Początki wspinaczki skałkowej giną w mrokach
historii. Wiemy, że przed wiekami wspinacze
wyprawiali się w pełne stromych skał obszary,
takie jak Meteora w północnej Grecji, gdzie
znajdują się średniowieczne monastyry, skalne
korytarze odległej Wadi Rum w Jordanii i Ladakh
w Tybecie, siedziba śpiącego niedźwiedzia, cel
podróżników, spośród których wielu utkwiło
między urwistymi skałami i kanionami.
Zainteresowanie górami wiązało się zazwyczaj
z duchem epoki: niezwykła wspinaczka
najemników na francuską Mont Aiguille
w 1492 r. miała na celu przyniesienie chwały
królowi.
<br/>
Wiktoriańscy alpiniści
Wiek odkryć połączył się z przełomem
romantyzmu, co dało niezwykłą mieszankę
pragmatyzmu i idealizmu, cechującą dobę
wiktoriańską. Przejawiało się to w śmiałych
wyprawach na niezdobyte dotąd szczyty.
Te pierwsze próby wspinania się cechowały
ów okres w dziejach Wielkiej Brytanii. Milowe
kroki poczynili: poeta Samuel Coleridge, który
w 1802 r. zszedł z Broad Stand niedaleko
Scafell Pike w Lake District, oraz jego przyjaciel
William Wordsworth, pasjonat przyrodniczych
eskapad. Ekspedycja botaników, wielebnych
Williamsa i Bingleya, na wschodnie tarasy
Clogwyn du’r Addu w północnej Walii jest
przez wielu uznawana za pierwszą prawdziwą
wyprawę wspinaczkową. Po niej nastąpiły
kolejne: istotnym osiągnięciem było zdobycie
Pillar Rock w Likeland w Like District (1826)
i zachodniej grani Lliwedd w Snowdonii,
w północnej Walii (1883). Istnieją dowody,
że od 1874 r. wspinano się w Fontainbleau
pod Paryżem. Był to oczywiście „złoty wiek
alpinizmu” – w XIX w. posiadanie umiejętności
wspinaczkowych było podstawowym warunkiem
powodzenia wypraw na górskie szczyty, czego
zwieńczeniem było zdobycie Matterhornu
w 1865 r.
<br/>
The sport of rock climbing
Uprawiający wspinaczkę skałkową Brytyjczyk,
Walter Parry Haskett-Smith, jest nazywany przez
wielu historyków ojcem alpinizmu, na co zasłużył
sobie przede wszystkim samotną wspinaczką
na Napes Needle przy Great Gable w Lake
District. Jego osiągnięcie przyćmiły wydarzenia
we wschodnich Niemczech, gdzie likwidacja
punktów asekuracyjnych spowodowała gwałtowne
reakcje sprzeciwu. Inny Brytyjczyk, Owen Glynne
Jones, aż do końca XIX w. działał na rzecz rozwoju
alpinizmu, ale I wojna światowa wstrzymała
na krótko ów rozwój zaraz po sukcesie Siegfrieda
Herforda i George’a S. Sansoma. Podczas wyprawy
na Scafell’s Central Buttress, zastosowali
rozsądną technikę wykorzystania siły ramion
do podtrzymywania nóg towarzysza, znaną
jako „technika łączona”. Zastosowali ją także
Amerykanin Oliver Perry-Smith i jego niemiecki
kompan Rudolf Fehrmann, pewnie stawiający
czoło najniebezpieczniejszym skalnym ścianom
Saksonii.
<br/>
Lata międzywojenne
Pomimo wielu strat w ludziach wspinaczka
skałkowa w Europie szybko się rozwija
i nawet skoncentrowane
Kobiety od początku uprawiały wspinaczkę skałkową, często
w najwyższych partiach gór. Tutaj 12-letnia Irene Jackson
mierzy się z górskim szlakiem na Dow Crag w Lake District
w 1933 r.
na eksploracji Stany Zjednoczone nie są w stanie
jej dogonić aż do lat 40. XX w. We Francji
Pierre Allain, jeden z pierwszych propagatorów
bulderingu, w 1934 r. pokonał drogę o trudności
V2. Wynalazł on również specjalne buty
do wspinaczki (znane potem jako PAs). Jack
Longland i Chris Preston wyznaczyli pierwsze
„ekstremalne” progi standardów wspinaczki (5bc
lub 5.9–5.10), ugruntowane następnie przez
ich brytyjskich rodaków Colina Kirkusa, Arthura
Birtwhistle’a i Johna Menlove’a Edwardsa.
Na kontynencie włoscy wspinacze Emilio Comici,
Cesare Maestri i Ricardo Cassin byli wprawdzie
bardzo popularnymi nacjonalistami, ale trzeba
podkreślić również ich wspinaczkowe dokonania
na światowym poziomie. Kolejne progi trudności
pokonywano jeszcze szybciej w Saksonii,
gdzie Paul Illmer był jednym ze wspinaczy,
który pokonał szlak o trudności 5.10 w 1922 r.
Wyjątkową wyprawą tamtego czasu była
pierwsza, okryta niesławą wyprawa na Eiger
North Face w 1938 r., w którą udała się mieszana,
niemiecko-austriacka grupa wspinaczy: Anderl
Heckmair, Ludwig Vorg, Heinrich Harrer i Fritz
Kasparek.
<br/>
Lata powojenne
Wspinaczka była już sportem popularnym
na całym świecie. Wyprawa Johna Salathé
w 1947 r. na Lost Arrow w dolinie Yosemite,
a następnie na Sentinel Rock w 1950 r.
to było mocne wejście USA w nową erę
wspinaczki. Brytyjskie standardy umacniały
się dzięki pojawieniu się legendarnych Joe
Browna i Dona Whillansa, których pierwsze
wspinaczki umocniły nową epokę przemian.
Włoch Walter Bonatti odbył prawdopodobnie
najwspanialszą samotną wyprawę w dziejach
podczas 6-dniowej wspinaczki na SW Pillar
w Petit Dru (Chamonix) w 1955 r. Tama puściła.
Amerykanie Royal Robbins i jego nemezis Warren
Harding zapoczątkowali pęd ku przygodzie
w USA, zwieńczony wejściem trasami The Nose
i Salathé Wall w dolinie Yosemite na szczyt
El Capitan w późnych latach 50. Również
w USA John Gill zrewolucjonizował buldering,
czego kulminacją był dynamiczny styl Red
Cross Overhang, stosowany przez niego podczas
wspinaczki w Jenny Lake, w Tetons, w dzisiejszej
skali trudności odpowiadającej V9. W Wielkiej
Brytanii standardy trudności także się zmieniały.
Buty typowe dla czasów powojennych. Obuwie PA stopniowo
zastępowało tenisówki, będąc dla nich wygodniejszą
alternatywą. Buty widoczne na tym zdjęciu to pierwszy
produkowany na masową skalę model Ellis Brigham, znany
potem jako EB (po lewej). Wraz z wynalezieniem wibramowej
podeszwy (jak w butach Hawkinsa, po prawej) coraz rzadziej
używano butów podbitych metalowymi gwoździami.
